<?xml version="1.0"?>
<generator-config>

  <!-- configurable properties -->
  <properties>
  </properties>
  
  <!-- function configuration -->
  <functions>
  </functions>
  
  <!-- partitioning configuration -->
  <partitioning>
  </partitioning>
  
  <!-- string sets -->
  <string-sets>
  </string-sets>

</generator-config>
