<!-- snippet:`record.properties` after:`<properties>` -->
    <property-group type="${cc2us{record_name}}">
      <!-- a list of ${cc2us{record_name}}-specific options -->
    </property-group>
<!-- snippet:`record.properties` -->
  
<!-- snippet:`record.partitioning` after:`<partitioning>` -->
    <partition type="${cc2us{record_name}}" method="simple">
      <base-cardinality>1000</base-cardinality>
    </partition>
<!-- snippet:`record.partitioning` -->