// snippet:`record.include` after:`record/Record.h`
#include "record/${{record_name}}.h"
// snippet:`record.include`

// snippet:`record.operator.stub` after:`namespace Myriad {`

OutputCollector::StreamType& operator<<(OutputCollector::StreamType& out, const ${{dgen_ns}}::${{record_name}}& record)
{
	// TODO: serialize the record into the output stream
	
	return out;
}
// snippet:`record.operator.stub`