// snippet:`generator.include` after:`#include "generator/GeneratorSubsystem.h"`
#include "generator/${{record_name}}Generator.h"
// snippet:`generator.include`

// snippet:`generator.register` after:`// register generators`
	registerGenerator<${{dgen_ns}}::${{record_name}}Generator>("${cc2us{record_name}}");
// snippet:`generator.register`
