# ignore the machine-specific ${{dgen_name}}-frontend.xml file.
src/config/${{dgen_name}}-frontend.xml

# ignore the soft link to the myriad assistant
# myriad-assistant

# ignore the user-specific build setup settings (makefile.defs)
makefile.defs

# ignore build artifacts
*.d
*.o
build/bin
build/config
build/data
build/lib
build/CHANGELOG
build/LICENSE
build/NOTICE
build/README*
