# ignore the soft link to the myriad assistant
myriad-assistant

# ignore the user-specific build setup settings (makefile.defs)
makefile.defs

# ignore build artifacts
build/bin
build/config
build/lib
build/CHANGELOG
build/LICENSE
build/NOTICE
